.Productos {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(255, 0, 0, 0.363);
    color: black;
    max-width: auto;
    height: auto;
    border-width: 5px;
    border-color: rgb(255, 0, 0);
    text-align: center;
    margin-bottom: 10px;
    margin-top: 10px;
    font-size: 2rem;
    text-shadow: 5px 5px 5px white;
    align-items: center;

}